<!doctype html>
<html lang="en">
  <head>
		<title>New Tab</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="./../static/newtab.css">
  </head>
  <body>
    <div id="container">
			<p id="greeting">
				<span id="date"></span><br>
				<span id="hello">Hello <span id="name"></span>!</span><br>
				<span id="welcome"></span>
			</p>
			<p id="quoteblock">
			</p>
			<p id="urls"></p>
			<div class="analog-clock">
					<svg width="140" height="140">
							<circle id="clock-face" cx="70" cy="70" r="65" />
							<line id="h-hand" x1="70" y1="70" x2="70" y2="38" />
							<line id="m-hand" x1="70" y1="70" x2="70" y2="20" />
							<line id="s-hand" x1="70" y1="70" x2="70" y2="12" />
							<line id="s-tail" x1="70" y1="70" x2="70" y2="56" />
							<text x="62" y="20" class="number">12</text>
							<text x="124" y="76" class="number">3</text>
							<text x="66" y="128" class="number">6</text>
							<text x="10" y="76" class="number">9</text>
					</svg>
					<div class="time-text">
							<span id="hr">00</span>
							<span>:</span>
							<span id="min">00</span>
							<span>:</span>
							<span id="sec">00</span>
							<span id="suffix">--</span>
					</div>
			</div>
			<p id="footer">
				<span id="title">Session Analysis</span><br>
				Designed By - Parth Pathak | Kumud Gupta | Raghav Arora
			</p>
			<label id="change">
				<b>Change Color Theme</b>
			</label>
		</div>
		<div id="bgPalette">
			<label id="upload">
				<input type="file" accept="image/*" id="userUpload" hidden>
				<b>Upload Photo</b>
			</label>
			<span id="close"><b>&times;</b></span><br><br>
			<span id="sel"><b>or select an image:</b></span>
			<br><br>
			<div id="images"></div>
			<br><br>
		</div>
		<script src="./../static/newtab.js"></script>
  </body>
</html>